#logo {
    margin-left: 3px;
}
.faq_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#market_round_num {
    font-weight: 500;
}

#market_tag {
    font-weight: 200;
}

.nav-link.game {
   color: #674188;
   ; 
}

.nav-link.game.active {
    background-color: #674188;

}

.game span#logo {
    color: #674188;
}

#game-banner-heading {
    background-color: #F7EFE5;
}

#game-container {
    background-color: #F7EFE5;
}

.game #market_round_num {
    color: #674188;
}

.game #market_tag {
    color: #674188;
}

.profile-photo {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* colour palet = https://colorhunt.co/palette/f7efe5e2bfd9c8a1e0674188