#logo {
    margin-left: 3px;
}
.faq-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#market-round-num {
    font-weight: 500;
}

#market-tag {
    font-weight: 200;
}

.nav-link.game {
   color: #674188;
   ; 
}

.nav-link.game.active {
    background-color: #674188;

}

.game span#logo {
    color: #674188;
}

#game-banner-heading {
    background-color: #F7EFE5;
}

#game-container {
    background-color: #F7EFE5;
}

.game #market-round-num {
    color: #674188;
}

.game #market-tag {
    color: #674188;
}

.profile-photo {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* colour palet = https://colorhunt.co/palette/f7efe5e2bfd9c8a1e0674188

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    right: 1%;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    border-bottom: 1px;
    color: #674188;
  }
  
  .modal-body {
    padding: 2px 16px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: #000;
}
  
  .modal-footer{
    text-align: left;
    padding: 2px 16px;
    color: black;
  }

  .modal-footer p{
    text-align: start;
    font-weight: lighter;
  }